.statistics {
  background-color: #fafaf9;
  flex: 3 1 auto;
  padding: 8px 12px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 8px;
  & h1 {
    font-size: calc(32px + 7%);
    color: #3e3e46;
    font-weight: 500;
    font-style: italic;
    & svg {
      margin-bottom: -6px;
    }
  }
}