.statistics {
  background-color: var(--card-color);
  flex: 3 1 auto;
  padding: 8px 12px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  margin: 8px;
  & .information {
    display: flex;
    justify-content: space-between;
    max-height: 90%;
    width: 95%;
    height: 40%;
    margin-left: 2.5%;
    & span {
      height: 85%;
    }
    & h3 {
      font-weight: 400;
      margin-bottom: 2.5rem;
      & b {
        font-weight: 600;
      }
    }
  }
  & h1 {
    font-size: calc(32px + 7%);
    color: var(--text-color-lighter);
    font-weight: 500;
    font-style: italic;
    margin-left: 12px;
    & svg {
      margin-bottom: -6px;
    }
  }
}