.postCard {
  width: calc(100% - 32px);
  padding: 8px 16px;
  margin: 2px auto;
  background-color: var(--card-color);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.2s;
  &:hover {
    background-color: var(--card-color-hover);
  }
  & div {
    width: 80%;
  }
  & a {
    color: var(--dark-purple);
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
    &:hover {
      text-decoration: underline;
    }
  }
  & h4 {
    font-weight: 400;
    color: var(--text-color-bolder);
    font-size: 16px;
    display: flex;
    margin-top: -12px;
    align-content: center;
    word-wrap: break-word;
    word-break: break-all;
    height: fit-content;
    flex-wrap: wrap;
  }
  & p {
    width: 60%;
    word-break: break-all;
    word-wrap: break-word;
    color: var(--text-color-lighter);
  }
}

.chipPublished {
  font-size: 10px;
  font-weight: 600;
  background-color: var(--blueish-transparent);
  color: var(--blueish);
  padding: 3px 5px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 20px;
}

.chipNotPublished {
  font-size: 10px;
  font-weight: 600;
  background-color: var(--pinkish-transparent);
  color: var(--pinkish);
  padding: 3px 5px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 20px;
}