.uploadFile {
  width: 96.5%;
  height: 90px;
  margin: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e879f970;
  color: #4a044e;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
  font-weight: 600;
  transition: ease all 0.2s;
  &:hover {
    background-color: #e879f98f;
  }
  & input[type=file] {
    display: none;
  }
}

.imgPreview {
  width: 92%;
  margin-left: 2.3%;
}

.imgUrl {
  display: block;
  width: calc(95% - 12px);
  border-radius: 4px;
  padding: 6px;
  font-size: 15px;
  border: 1px solid #3f3f46;
  &:hover {
    border: 1px solid #a21caf;
  }
  &:focus {
    outline: 2px solid #a21caf;
    border: 1px solid #a21caf;
  }
}