.uploadFile {
  width: 96.5%;
  height: 90px;
  margin: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e879f970;
  color: #4a044e;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
  font-weight: 600;
  transition: ease all 0.2s;
  &:hover {
    background-color: #e879f98f;
  }
  & input[type=file] {
    display: none;
  }
}

.imgPreview {
  width: 92%;
  margin-left: 2.3%;
}