.sideMenu {
  width: 322px;
  height: 100%;
  padding-left: 12px;
  padding-bottom: 16px;
  overflow-y: scroll;

  & h5 {
    font-weight: 400;
    color: var(--text-color-light);
    margin-left: 12px;

    & svg {
      margin-bottom: -4px;
    }
  }

  & .titleMargin {
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  & h3 {
    color: var(--text-color-light);
  }

  & .line {
    width: 96%;
    height: 2px;
    background-color: var(--text-color);
  }

  & textarea {
    resize: none;
    font-size: 16px;
    border: none;
    outline: 3px solid var(--outline-color);
    padding: 2px;
    border-radius: 4px;

    &:focus {
      outline: 3px solid var(--outline-stronger);
    }
  }

  & h1 {
    color: var(--clean-purple);

    & svg {
      margin-bottom: -4px;
    }
  }

  & .link {
    color: var(--clean-purple);
    cursor: pointer;
  }

  & .paragraphCategory {
    height: fit-content;
    margin: 0px;
    border-top: 1px solid var(--text-color-light);
    & p {
      height: fit-content;
      margin: 4px 0px;
    }
    & .paragraphCategory {
      width: 90%;
      margin-left: 10%;
      border-top: none;
    }
  }

  & button {
    background-color: var(--clean-purple);
    color: white;
    font-size: 20px;
    margin-left: calc(100% - 40px);
    width: 60px;
    border: none;
    border-radius: 6px;
    margin-top: 6px;
    padding: 4px;
    cursor: pointer;
    transition: ease 0.2s all;

    &:hover {
      background-color: var(--lighter-purple);
    }
  }
}