.sideMenu {
  width: 322px;
  height: 100%;
  padding-left: 8px;
  overflow-y: scroll;
  & .titleMargin {
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  & h3 {
    color: #3f3f46;
  }
  & .line {
    width: 96%;
    height: 2px;
    background-color: #3f3f463f;
  }
  & textarea {
    resize: none;
    font-size: 16px;
    border: none;
    outline: 3px solid rgba(0, 0, 0, 0.384);
    padding: 2px;
    border-radius: 4px;
    &:focus {
      outline: 3px solid rgba(0, 0, 0, 0.712);
    }
  }
}