.sideMenu {
  width: 322px;
  height: 100%;
  padding-left: 12px;
  padding-bottom: 16px;
  overflow-y: scroll;

  & h5 {
    font-weight: 400;
    color: #4b5563;
    margin-left: 12px;

    & svg {
      margin-bottom: -4px;
    }
  }

  & .titleMargin {
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  & h3 {
    color: #3f3f46;
  }

  & .line {
    width: 96%;
    height: 2px;
    background-color: #3f3f463f;
  }

  & textarea {
    resize: none;
    font-size: 16px;
    border: none;
    outline: 3px solid rgba(0, 0, 0, 0.384);
    padding: 2px;
    border-radius: 4px;

    &:focus {
      outline: 3px solid rgba(0, 0, 0, 0.712);
    }
  }

  & h1 {
    color: #c026d3;

    & svg {
      margin-bottom: -4px;
    }
  }

  & .link {
    color: #c026d3;
    cursor: pointer;
  }

  & .paragraphCategory {
    height: fit-content;
    margin: 0px
  }

  & button {
    background-color: #c026d3;
    color: white;
    font-size: 20px;
    margin-left: calc(100% - 40px);
    width: 60px;
    border: none;
    border-radius: 6px;
    margin-top: 6px;
    padding: 4px;
    cursor: pointer;
    transition: ease 0.2s all;

    &:hover {
      background-color: #a21caf;
    }
  }
}