CONNECTION_STRING='mongodb+srv://<user>:<password>@clusterhost.net/tortacms?retryWrites=true&w=majority?ssl=true&connectTimeoutMS=5000&maxPoolSize=50' #mongoDB connection string, your mongo db should run as a replica set
NEXTAUTH_SECRET='asdfasdfdasfa0j324asdioahdAAsdfasfsaddfasofjadspo243432zafaASdgsfHDShgSGSFHgs' #a hash to encrypt your jwt tokens
NEXTAUTH_URL='http://localhost:3000' #the URL of your website