@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.tox .tox-notification--warning {
  display: none !important
}

.tox-statusbar__branding {
  display: none;
}

body {
  background-color: var(--background-color-1);
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-body);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  margin: 1px;
  cursor: pointer;
}

hr {
  width: 97.5%;
  height: 2px;
  background-color: var(--scrollbar-color);
  border: none;
  margin: 6px auto;
}

p {
  font-size: 16px;
}

* {
  scrollbar-width: thin;
}

body {
  scrollbar-base-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
  scrollbar-gutter: stable;
  overflow-y: scroll;
  height: 100svh;
}

:root {
  --background-color-1: #f5f5f5;
  --scrollbar-color: #85858569;
  --scrollbar-body: #eeeeee00;
  --dark-purple: #8a1691;
  --darker-purple: #490b44;
  --transparent-purple: #db47cf2d;
  --lighter-purple: #a21caf;
  --clean-purple: #c026d3;
  --text-color: #3e3e46;
  --text-color-bolder: #27272a;
  --text-color-lighter: #3f3f46;
  --text-color-light: #53535c;
  --card-color: #fafafa;
  --card-color-hover: #ffffff;
  --pinkish-transparent: #db277731;
  --pinkish: #9d174d;
  --blueish-transparent: #4e46e531;
  --blueish: #2e2972;
  --box-shadow: #00000010 0px 4px 12px;
  --border-line-light: #3f3f4625;
  --danger-red: #e11d48;
  --side-menu-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --outline-color: #00000062;
  --outline-stronger: #000000b6;
}