@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.tox .tox-notification--warning {
  display: none !important
}

.tox-statusbar__branding {
  display: none;
}

body {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  background-color: rgba(238, 238, 238, 0);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #85858569;
  border-radius: 10px;
  cursor: pointer;
}

p {
  font-size: 16px;
}

* {
  scrollbar-base-color: #f5f5f5;
  scrollbar-width: thin;
  scrollbar-color: #85858569;
}