.topbar {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 50px;
  & h3 {
    padding-right: 4%;
    font-weight: 500;
    & a:hover {
      color: #c026d3;
      text-decoration: underline;
      text-decoration-color: #c026d3;
    }
    & a {
      color: #3f3f46;
      text-decoration-color: transparent;
      transition: all ease 0.2s;
      & svg {
        margin-bottom: -8px;
      }
    }
  }
  & a {
    height: fit-content;
    align-self: center;
  }
}