.SideMenu {
  background-color: var(--card-color);
  width: fit-content;
  position: fixed;
  margin-left: 12px;
  padding: 0px 6px;
  height: 96svh;
  padding-bottom: 1svh;
  margin-top: 1.5svh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--side-menu-box-shadow);
  & h5, & h4 {
    opacity: 0;
    transition: all ease 0.2s;
    height: fit-content;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
  }
  & h4 {
    color: var(--text-color-lighter);
    margin-top: -4px;
  }
  &:hover {
    h5, h4 {
      opacity: 1;
    }
  }
  & nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0;
    color: var(--text-color-lighter);
    & a {
      color: var(--text-color-lighter);
      text-decoration: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 4px;
      transition: all ease 0.1s;
      &:hover {
        background-color: var(--transparent-purple);
        color: var(--darker-purple);
      }
    }
  }
}

.logoSideMenu {
  filter: drop-shadow(0px 0px 8px #ce38f34b);
}

@media (max-width: 650px) {
  .SideMenu {
    display: none;
  }
}

@media (max-height: 550px) {
  .SideMenu {
    scrollbar-gutter: stable both-edges;
    overflow-y: auto;
    margin-left: 8px;
    scrollbar-base-color: var(--background-color-1);
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
  
  }
}

@media (min-width: 2000px) {
  .SideMenu {
    margin-left: calc(8px + 0.5%);
  }
}