.loginPage {
  width: 100%;
  min-height: 95svh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  & form {
    display: flex;
    flex-direction: column;
    background-color: #fafaf9;
    width: 350px;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    padding: 0 12px;
    padding-bottom: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
    & .imgLogo {
      text-align: center;
      & h2 {
        margin-top: -10px;
        font-size: 20px;
        color: #3f3f46;
        font-weight: 400;
        & em {
          background: linear-gradient(347deg, rgba(2,0,36,1) 0%, #db29db 49%, #d946ef 100%);
          text-shadow: 0px 0px 6px #d846ef5d;
          background-clip: text;
          font-weight: 700;
          -webkit-text-fill-color: transparent;
          font-style: normal;
        }
      }
    }
  }
}