.categoriesSection {
  width: 98%;
  margin: 0 auto;
  display: flex;
  height: fit-content;
  min-height: fit-content;
  & span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  & h1 {
    height: fit-content;
    font-weight: 400;
    font-size: 2rem;
    color: #3f3f46;
  }
  & h3 {
    height: fit-content;
    font-weight: 500;
  }
}

.categoryCard {
  width: calc(100% - 24px);
  padding: 6px 12px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 4px 12px;
  height: fit-content;
  margin-bottom: 4px;
  border-radius: 8px;
  & .categoryCard {
    border: 1px solid #3f3f4625;
  }
  & h3 {
    font-weight: 400;
    height: fit-content;
    margin: 12px 0px;
  }
  & h5 {
    margin: 0px;
    height: fit-content;
    margin: 6px;
    color: #a21caf;
  }
}