main {
  width: calc(100% - 120px);
  height: 90svh;
  margin-left: 110px;
  min-height: 97svh;
  margin-top: 1.5svh;
  & section {
    display: flex;
    flex-wrap: wrap;
    min-height: 450px;
    margin-top: 8px;
    padding-bottom: 0.5svh;
  }
}

@media (max-width: 650px) {
  main {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 1520px) {
  main {
    width: calc(98.5% - 100px);
    margin-left: calc(100px + 1%);
  }
}