main {
  width: calc(98.5% - 110px);
  height: 90svh;
  margin-left: 115px;
  min-height: 97svh;
  margin-top: 1.5svh;
  & section {
    display: flex;
    flex-wrap: wrap;
    & h1 {
      font-size: calc(36px + 5%);
    }
  }
}